//  ============================ Typography ============================

//webfont('RUB', 'rouble-webfont', 'normal')
//Add fotn rub write .rub a - (a,b,c,d - change type font)

//font(name,file,size)

font('Roboto','RobotoCondensed-Light',300)
font('Roboto','RobotoCondensed-Regular',400)
font('Roboto','RobotoCondensed-Bold',700)

$v-font =  'verdana', sans-serif

typeSize(fontSm,font)
	+below(768px)
		font-size font px
	font-size fontSm px

/*
font-size 12px
@extend .type--sm

font-size 14px
@extend .type--main

font-size 16px
@extend .type--md

font-size 18px
@extend .type--lg

font-size 30px
@extend .type--xl

font-size 36px
@extend .type--xxl
*/

.type--xs
	typeSize(12,10)

.type--sm
	typeSize(12,12)

.type--main
	typeSize(14,12)

.type--md
	typeSize(16,14)

.type--lg
	typeSize(18,16)

.type--xl
	typeSize(30,24)

.type--xxl
	typeSize(36,28)

.type--bold
	font-weight bold

h1
	@extend .type--xxl
h2
	@extend .type--xl
h3
	@extend .type--lg
h4
	@extend .type--md
h5
	@extend .type--main

a
	color $link-color
	text-decoration: none
	&:hover
		color darken($link-color,20)
	&:visiter
		color darken($link-color,30)

p,li
	line-height: 1.6

.link--mark
	color $blue
	&:hover
		color darken($mark,20)
	&:visiter
		color darken($mark,30)

.link--main
	color $link-color
	hover-underline($link-color)
	&:hover
		color darken($link-color,20)
	&:visiter
		color darken($link-color,30)

.link--text
	color $link-color
	text-decoration underline
	&:hover
		text-decoration none
