@import 'rupture'
@import "variable/_function.styl"
@import "variable/_fonts.styl"
@import "variable/_ie.styl"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/config/_color.styl"
@import "variable/config/_typography.styl"
@import "variable/config/_btn.styl"
@import "variable/config/_input.styl"
@import "../module/**/*"

body
	@extend .type--main
	font-family $v-font
	color #333333
	line-height 1.2
	letter-spacing 0.01em

.main-cont
	center(1300px,10px)

//mobile menu
.head-toggle
	+above(1025px)
		display: none
	size 55px
	flex(mid)
	cp()
	margin-left: auto
	.icon
		size 25px
		fill black
	.icon-close
		display: none
.head-toggle--open
	.icon-close
		display: block
	.icon-open
		display: none

.slide-menu
	+above(1025px)
		display: none !important
	+below(640px)
		top: 51px //Высота хедера
	+below(480px)
		width: 100%
	background: black
	color white
	position: fixed
	height: calc(100% - 50px) //Отступ хедер
	z-index 1250
	top 55px
	right 0
	width: 320px
	transform translateX(100%)
	tr(all)
.slide-menu--open
	transform translateX(0%)
	overflow-y: auto
.slide-menu__list-el
	padding: 20px
	display: block
	color white
	font-size: 16px
	up()
	tr(all)
	border-bottom 1px solid rgba(255, 255, 255, 0.05)
	&:hover
		background: $red
		color white
.body-fix
	position: fixed!important
	overflow-Y: scroll!important
	width:100%!important

.header
	border-bottom 1px solid #cccccc
	z-index 5
.header-wrap
	flex(between)

.menu
	+below(1024px)
		display: none
	f()


.menu__el
	padding: 20px 15px
	up()
	tr()
	&:hover
		background: $yellow
		color black!important

.menu__el--active
	background: $yellow
	color black!important
	border-color $yellow
.header-main-page
	.header
		position: absolute
		top 0
		left 0
		width: 100%
		border-bottom 1px solid #555b5b
	.menu__el
		color white
		border-left 1px solid #555b5b
		border-right 1px solid #555b5b
		margin-right: -1px
	.head-toggle
		.icon
			fill white

.main-banner
	bg-full()
	position: relative
	padding: 20% 10%

.main-banner-wrap
	position: absolute
	top 25%
	width: 40%
	img
		width: 100%

.advant-cont
	center(1400px,10px)

.advant
	f()
	justify-content: space-between
	align-items: flex-start
	padding: 70px 40px
	background: white
	transform translateY(-20%)
	box-shadow 0 25px 55px rgba(0, 0, 0, 0.25)
.advant__el
	width: 23%
	flex(mid)
	fl()
.advant__el-icon
	margin-bottom: 40px
.advant__el-title
	up()
	@extend .type--lg
	font-weight 700
	color black
	margin-bottom: 20px
	text-align: center
	font-family:Roboto

.advant__el-text
	text-align: center
	font-family Verdana
	line-height: 1.6
	color #999999
.filter-wrap
	+below(1024px)
		padding: 30px
		margin: 30px 0
	+below(640px)
		padding: 20px 10px
		margin-left: -10px
		width:calc(100% + 20px)
	padding: 80px 30px
	box-shadow 0 0 0 rgba(232, 232, 232, 0.11)
	border 1px solid rgba(221, 221, 221, 0.15)
	background-color #f7f7f7
	position: relative
	.filter-bg
		position: absolute
		top 0
		right: 0
		height: 100%
		img
			height: 100%
.filter__title
	+below(1024px)
		margin-bottom: 40px
	+below(640px)
		margin-bottom: 20px
	@extend .type--xxl
	font-weight 700
	text-transform uppercase
	color black
	text-align: center
	margin-bottom: 70px
	font-family:Roboto

.filter-list
	+below(768px)
		fw()
	+below(640px)
		margin-bottom: 0
	flex(between)
	margin-bottom: 30px
.filter-el
	+below(768px)
		width: 48%
		margin-bottom: 20px
	+below(640px)
		width: 100%
	width: 24%
	.nice-select
		width: 100%
.filter-el__name
	up()
	font-size: 15px
	margin-bottom: 20px
	font-weight: 700
//.filter-el__select
//.select-beauty
.filter-footer
	+below(640px)
		fw()
	flex(between)
.filter-info
	+below(1440px)
		padding-right: 20px
	+below(1024px)
		width: 60%
	+below(768px)
		width: 48%
	+below(640px)
		width: 100%
		margin-bottom: 20px
	@extend .type--sm
	color #999999
.filter-get
	+below(768px)
		width: 48%
	+below(640px)
		width: 100%

	@extend .btn--md
	@extend .btn--mark
	width: 24%
	padding: 15px


.subscribe
	+below(1024px)
		fw()
	+below(640px)
		padding: 20px 0
		margin: 30px 0
.subscribe-wrap
	margin: 60px 0
.subscribe-form
	flex(mid)
.subscribe-title
	+below(1400px)
		font-size: 14px
	+below(1024px)
		width: 100%
		margin-bottom: 30px
		text-align: center
		font-size: 20px
	color black
	font-family "Roboto"
	@extend .type--xl
	font-weight 500
	line-height: 1.6
	text-align: center
	margin-bottom: 30px
.subscribe-form
	+below(1024px)
		width: 100%
	+below(640px)
		fw()
	flex(mid)
	input
		+below(640px)
			width: 100%
			margin-bottom: 20px
		width: 32%

.subscribe-form__get
	padding: 15px
	@extend .btn--md
	@extend .btn--red
	margin-left: 20px

.nice-select:active, .nice-select.open, .nice-select:focus
	border 1px solid $border-color

.nice-select
	br(5px)
	display: block
	color black
	font-size 14px
	height: 50px
	line-height: 50px
	&.open
		border-radius 5px 5px 0 0
	.list
		width: calc(100% )
		left 0px
		border-radius 0 0 5px 5px
		border 0px solid $border-color
		border-top 0
		margin-top: 0
		color $black
		li
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis

.section-title
	@extend .type--xxl
	font-family: Roboto
	text-align: center
	color black
	margin-bottom: 30px
	font-weight: 700
	up()

.section
	padding: 50px 0

.flag
	flex(mid)
	margin-bottom: 60px

.footer
	flex(between)
	padding: 20px 0
	.footer-text
		font-size: 12px
		color gray

.page
	f()
	fl()
	min-height 100vh

.content
	flex-grow 1
