include block_html/_style.pug
include block_html/_include.pug


.page
	+header()
	.content
		.main-cont
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consectetur dolorum enim molestiae numquam praesentium quidem tempore vero voluptates voluptatum.
	+footer()
include ./block_html/_script.pug
