mixin footer()
	//block footer
	.footer-wrap
		.main-cont
			.footer
				.footer-text ©2018. «Автомотив». Все права защищены Продвижение сайта Снайпер
				.footer-text РФ, г. Новосибирск, ул. Богаткова 264. Телефон +7 (383) 214-00-65
	//block footer end