-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
			'name':'Каталог',
			'href':'catalog'
		},
		{
			'name':'Где купить',
			'href':'location'
		},
		{
			'name':'Дилеры',
			'href':'diler'
		}
	]

